<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>后台管理系统</title>
    {css href="__STATIC__/bootstrap/css/bootstrap.min.css" /}
    {css href="__STATIC__/font-awesome/css/font-awesome.min.css" /}
    {block name="css"}{/block}
    {css href="__STATIC__/admin/css/custom.min.css" /}
    {js href="__STATIC__/jquery/jquery.min.js" /}
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>管理系统</span></a>
                </div>
                <div class="clearfix"></div>
                <!-- 用户信息 -->
                <div class="profile clearfix">
                    <div class="profile_pic">
                        {if condition="$Think.session.user_auth.head"}
                            <img src="__ROOT__/uploads/{$Think.session.user_auth.head}" alt="..." class="img-circle profile_img">
                        {else}
                            <img src="__STATIC__/admin/images/img.jpg" alt="..." class="img-circle profile_img">
                        {/if}
                    </div>
                    <div class="profile_info">
                        <span>Welcome,</span>
                        <h2>{$Think.session.user_auth.name}</h2>
                    </div>
                </div>
                <!-- /用户信息 -->
                <br />
                <!-- 菜单 -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <ul class="nav side-menu">
                            {volist name='ruleslist' id='vo'}
                                <li><a><i class="{$vo.icon}"></i> {$vo.title} <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        {if(isset($vo['child']))}
                                            {volist name="vo['child']" id='child'}
                                                <li><a href="{:url('/'.$child['name'])}">{$child.title}</a></li>
                                            {/volist}
                                        {/if}

                                    </ul>
                                </li>
                            {/volist}
                        </ul>
                    </div>
                </div>
                <!--菜单 -->
            </div>
        </div>

        <!-- 头部导航 -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <!--收缩菜单-->
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <!--收缩菜单-->
                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">

                                {if condition="$Think.session.user_auth.head"}
                                <img src="__ROOT__/uploads/{$Think.session.user_auth.head}" alt="">
                                {else}
                                <img src="__STATIC__/admin/images/img.jpg" alt="" >
                                {/if}
                                {$Think.session.user_auth.name}
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li>
                                    <a>当前登陆账号：{$Think.session.user_auth.user}</a>
                                </li>
                                <li>
                                    <a>登陆次数：{$Think.session.user_auth.login_count}</a>
                                </li>
                                <li>
                                    <a>上次登陆IP地址：{$Think.session.user_auth.last_login_ip}</a>
                                </li>
                                <li>
                                    <a>上次登陆时间：{$Think.session.user_auth.last_login_time|date="Y-m-d H:i:s"}</a>
                                </li>
                                <li><a onclick="loginout()"><i class="fa fa-sign-out pull-right"></i> 退出</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- 头部导航 -->
        <!-- 主体内容 -->
        {block name="main"}{/block}
        <!-- 主体内容 -->
        <!-- 底部导航 -->
        <footer>
            <div class="content pulldown text-muted text-center">
                极简 · 极速 · 极致<br>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- 底部导航 -->
    </div>
</div>
{js href="__STATIC__/bootstrap/js/bootstrap.min.js" /}
{js href="__STATIC__/bootstrap/js/bootstrap-progressbar.min.js" /}
{js href="__STATIC__/admin/js/custom.js" /}
{js href="__STATIC__/layer/layer.js" /}
{js href="__STATIC__/jquery/Validform_v5.3.2_min.js" /}
{block name="script"}{/block}
<script>
    function loginout(){
        $.post("{:url('/admin/logout')}",'',function (data) {
            layer.msg(data.msg, {time: 1500}, function () {
                location.href = data.url;
            });
        },'json')
    }
</script>
</body>
</html>
