{extend name="default/base/base" /}
{block name="main"}

<div class="right_col" role="main">
  <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <br>
            <form class="form-horizontal form-label-left input_mask">
              <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                <input type="text" class="form-control has-feedback-left" name="key" value="{:input('key')}" placeholder="请输入账号或昵称">
                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                <button type="submit" class="btn btn-success">搜索</button>
                <button class="btn btn-primary reset" type="button">重置</button>
              </div>
            </form>
          </div>
        </div>
        <div class="x_panel">
          <div class="x_content">
            <div class="table-responsive">
              <table class="table table-hover table-bordered">
                <thead>
                <tr>
                  <th>uid</th>
                  <th>账号</th>
                  <th>昵称</th>
                  <th>所属组</th>
                  <th>登陆次数</th>
                  <th>最后登录IP</th>
                  <th>最后登陆时间</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name='list' id='vo'}
                <tr>
                  <th scope="row">{$vo.uid}</th>
                  <td>{$vo.user}</td>
                  <td>{$vo.name}</td>
                  <td>{$vo.title}</td>
                  <td>{$vo.login_count}</td>
                  <td>{$vo.last_login_ip}</td>
                  <td>{$vo.last_login_time}</td>
                  <td><a href="{:url('/admin/edit')}?uid={$vo.uid}">编辑</a> | <a href="{:url('/admin/delete')}?uid={$vo.uid}}">删除</a> </td>
                </tr>
                {/volist}
                </tbody>
              </table>
            </div>
          </div>
          {$list|raw}
        </div>
      </div>
  </div>
</div>
{/block}



