{extend name="default/base/base" /}
{block name="main"}
<div class="right_col" role="main">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>配置管理 </h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <form action="{:url('/admin/config')}" class="ajax-form" method="post">
          <table class="table table-hover table-bordered">
            <thead>
            <tr>
              <td>配置状态</td>
              <td>
                <input type="radio" name="status" value="0" {eq name="list.status" value="0"}checked{/eq}/>禁用
                <input type="radio" name="status" value="1" {eq name="list.status" value="1"}checked{/eq}/>开启</td>
            </tr>
            <tr>
              <td>应用调试模式</td>
              <td>
                <input type="radio" name="debug" value="0" {eq name="list.value.debug" value="0"}checked{/eq}/>关闭
                <input type="radio" name="debug" value="1" {eq name="list.value.debug" value="1"}checked{/eq}/>开启
              </td>
            </tr>
            <tr>
              <td>应用Trace</td>
              <td>
                <input type="radio" name="trace" value="0" {eq name="list.value.trace" value="0"}checked{/eq}/>关闭
                <input type="radio" name="trace" value="1" {eq name="list.value.trace" value="1"}checked{/eq}/>开启
              </td>
            </tr>
            <tr>
              <td>应用Trace类型</td>
              <td>
                <input type="radio" name="trace_type" value="0" {eq name="list.value.trace_type" value="0"}checked{/eq}/>Html
                <input type="radio" name="trace_type" value="1" {eq name="list.value.trace_type" value="1"}checked{/eq}/>Console
              </td>
            </tr>
            <tr>
              <td colspan="2" align="center" style="padding-right: 15%">
                <button class="btn btn-success ajax-post">保存</button>
              </td>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </form>

      </div>
    </div>
  </div>
</div>
{/block}


