<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>登录</title>
    {css href="__STATIC__/bootstrap/css/bootstrap.min.css" /}
    {css href="__STATIC__/admin/css/custom.min.css" /}
  </head>
  <body class="login">
    <div>
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form id="formid" method="post" action="{:url('/admin/login')}">
              <h1>用户登录</h1>
              <div>
                <input type="text" class="form-control" name="user" placeholder="账号" datatype="*" nullmsg="请输入账号！" />
              </div>
              <div>
                <input type="password" class="form-control" name="password" placeholder="密码" datatype="*" nullmsg="请输入密码！" />
              </div>
              <div>
                <input type="text" class="form-control pull-left" name="code" style="width: 50%;" placeholder="验证码" datatype="*" nullmsg="请输入验证码！" maxlength="4"/>
                <img class="pull-right" id="captcha" onclick="this.src='{:captcha_src()}?d='+Math.random();" style="width: 49%;height: 34px;" src="{:captcha_src()}">
              </div>
              <div class="clearfix"></div>
              <div>
                <button  class="btn btn-primary" >登录</button>
              </div>
              <div class="clearfix"></div>
              <div class="separator">
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
    {js href="__STATIC__/jquery/jquery.min.js" /}
    {js href="__STATIC__/jquery/Validform_v5.3.2_min.js" /}
    {js href="__STATIC__/layer/layer.js" /}
  <script>
      $("#formid").Validform({
          ajaxPost:true,
          tiptype:function (msg,o,cssctl) {
              if(o.type==3){
                  layer.msg(msg, {time: 1500});
              }
          },
          callback:function(data){
              layer.msg(data.msg, {time: 1500}, function () {
                if (data.code) {
                    location.href = data.url;
                }else{
                    $('#captcha').attr('src','{:captcha_src()}?d='+Math.random());
                }
            });
          }
      });
  </script>
  </body>
</html>
