<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>登录</title>
  {css href="__STATIC__/bootstrap/css/bootstrap.min.css" /}
  {css href="__STATIC__/admin/css/custom.min.css" /}
</head>
<body class="login">
  <div style="margin:5% auto 0;max-width: 400px;position: relative;">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
      <div class="x_title">
        <h2>修改密码</small></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br>
        <form id="editform" method="post" class="form-horizontal form-label-left" action="{:url('/admin/resetpassword')}">
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" >原密码 <span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="password" name="oldpassword" value="" class="form-control col-md-7 col-xs-12" datatype="*"  nullmsg="原密码不能为空！">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">新密码 <span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="password" name="password" value="" class="form-control col-md-7 col-xs-12" datatype="*6-16" nullmsg="请设置密码！" errormsg="密码范围在6~16位之间！">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">确认密码 <span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="password" name="password1" value="" class="form-control col-md-7 col-xs-12" datatype="*" recheck="password" nullmsg="请再输入一次密码！" errormsg="您两次输入的账号密码不一致！">
          </div>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <button class="btn btn-primary" type="reset">重置</button>
            <button class="btn btn-success">保存</button>
          </div>
        </div>
  </form>
</div>
</div>
  </div>
  </div>
</body>
{js href="__STATIC__/jquery/jquery.min.js" /}
{js href="__STATIC__/jquery/Validform_v5.3.2_min.js" /}
{js href="__STATIC__/layer/layer.js" /}
<script>
    $("#editform").Validform({
        ajaxPost:true,
        tiptype:function (msg,o,cssctl) {
            if(o.type==3){
                layer.msg(msg, {time: 1500});
            }
        },
        callback:function(data){
            layer.msg(data.msg, {time: 1500}, function () {
                if (data.code) {
                    location.href = data.url;
                }
            });
        }
    });
    function writeObj(obj){
        var description = "";
        for(var i in obj){
            var property=obj[i];
            description+=i+" = "+property+"\n";
        }
        alert(description);
    }
</script>


