{extend name="base/base" /}
{block name="main"}
<form class="layui-form">
    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form">
            <div class="layui-inline">
                <a class="layui-btn layui-btn-danger layui-btn-normal add">添加节点</a>
                <a class="layui-btn  layui-btn-normal tree-openAll" data-open="true">展开或折叠全部</a>
            </div>
        </form>
    </blockquote>
</form>
<script type="text/html" id="menuType">
    {{ d.menu == 1 ? '菜单' : '行为' }}
</script>
<table class="layui-hide" id="treeTable"></table>
<script type="text/html" id="treeTable-tools">
    <div class="layui-btn-container">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </div>
</script>
{/block}
{block name="script"}
<script>
    layui.use(function () {
        var treeTable = layui.treeTable;
        var layer = layui.layer;
        var $ = layui.jquery;
        // 渲染
        var inst = treeTable.render({
                elem: '#treeTable',
                id: "menuTree",
                url: "{:url('/admin/menu')}", // 此处为静态模拟数据，实际使用时需换成真实接口
                // treeTable 特定属性集
                tree: {
                    customName: {name: "title"},
                },
                cols: [[
                    {type: 'checkbox', fixed: 'left'},
                    {field: 'id', title: '编号', sort: true, fixed: 'left'},
                    {field: 'title', title: '权限名称', sort: true},
                    {field: 'name', title: '控制器/方法'},
                    {field: 'menu', title: '类型', width: 100, toolbar: "#menuType"},
                    {field: 'sort', align:'center', title:'排序', sort:true},
                    {fixed: "right", title:"操作", width:190, align:"center", toolbar:"#treeTable-tools"}
                ]]
            })
        ;
        // 单元格工具事件
        treeTable.on('tool(' + inst.config.id + ')', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('确定删除操作？', {icon: 3, title: '提示信息'}, function (index) {
                    $.post("{:url('/admin/deleteMenu')}", {id: data.id}, function (data) {
                        var icon = 5;
                        if (data.code) {
                            icon = 6;
                        }
                        layer.msg(data.msg, {icon: icon}, function () {
                            if (data.code) {
                                obj.del();//删除对应的行
                            }
                        });
                    });
                });
            }
            if (obj.event === 'edit') {
                edit(data.id)
            }
        });
        $('.add').click(function () {
            add();
        });

        $('.tree-openAll').click(function () {
            var isOpen = $('.tree-openAll').data('open')
            treeTable.expandAll('menuTree', isOpen); // 关闭全部节点
            $('.tree-openAll').data('open', !isOpen)
        });

        /**
         * 添加菜单
         */
        function add() {
            var index = layui.layer.open({
                type: 2,
                title: '添加菜单',
                content: "{:url('/admin/editMenu')}",
                success: function (layero, index) {
                    var body = layui.layer.getChildFrame('body', index);
                    setTimeout(function () {
                        layui.layer.tips('点击此处返回列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    }, 500)
                }
            });
            layui.layer.full(index);
            window.sessionStorage.setItem("index", index);
            //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
            $(window).on("resize", function () {
                layui.layer.full(window.sessionStorage.getItem("index"));
            })
        }

        /**
         * 编辑菜单
         * @param id
         */
        function edit(id) {
            var index = layui.layer.open({
                type: 2,
                title: '编辑菜单',
                content: "{:url('/admin/editMenu')}" + '?id=' + id,
                success: function (layero, index) {
                    var body = layui.layer.getChildFrame('body', index);
                    setTimeout(function () {
                        layui.layer.tips('点击此处返回列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    }, 500)
                }
            });
            layui.layer.full(index);
            window.sessionStorage.setItem("index", index);
            //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
            $(window).on("resize", function () {
                layui.layer.full(window.sessionStorage.getItem("index"));
            })
        }
    });
</script>
{/block}