{extend name="base/base" /}
{block name="main"}
<form id="form" method="post" class="layui-form layui-form-pane" action="{:url('/admin/editPassword')}">
    <div class="layui-form-item">
        <label class="layui-form-label">原密码</label>
        <div class="layui-input-block">
            <input type="password" name="oldpassword" value="" placeholder="请输入原密码" class="layui-input" datatype="*"  nullmsg="原密码不能为空！">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">新密码</label>
        <div class="layui-input-block">
            <input type="password" name="password" value="" placeholder="请输入新密码" class="layui-input" datatype="*6-16" nullmsg="请输入密码！" errormsg="密码范围在6~16位之间！">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">确认密码</label>
        <div class="layui-input-block">
            <input type="password" name="password1" value="" placeholder="请输入确认密码" class="layui-input" datatype="*" recheck="password" nullmsg="请输入确认密码！" errormsg="您两次输入的账号密码不一致！">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" name="__token__" id="token" value="{$Request.token}" />
            <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
{/block}
{block name="script"}
{js href="__STATIC__/jquery/jquery.min.js" /}
{js href="__STATIC__/jquery/Validform_v5.3.2_min.js" /}
<script>
    layui.use(['form'], function () {
       var form = layui.form;
    });
    $("#form").Validform({
        ajaxPost:true,
        tiptype:function (msg,o,cssctl) {
            if(o.type==3 && msg!='所填信息没有经过验证，请稍后…'){
                layer.msg(msg, {time: 1500});//验证错误的提示
            }
        },
        callback:function(data){     //ajax提交后的返回调用方法（相当于ajax里面的success那个方法）
            layer.msg(data.msg, {time: 1500}, function () {   //提示的插件，可以使用alert代替
                if (data.code) {
                    setTimeout(function () {
                        //刷新父页面
                        parent.location.href=data.url;
                    }, 1500);
                }else{
                    $('#token').val(data.data.token);
                }
            });
        }
    });


</script>
{/block}